# Git
.git
.gitignore

# Documentation
README.md
CHANGELOG.md
doc/
docs/

# IDE
.idea/
.vscode/
*.iml

# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile*
docker-compose*
.dockerignore
